@import "./conponents/button.scss";
@import "./conponents/textfield.scss";

body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
